<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>Joshua's Website
    <nav>
      <ul>
        <li>Test 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </nav>
  </header>
  <main>
    <p>Paragraph 1

    </p>
    <p>Paragraph 2</p>
    <table>
      <tr>
        <th>Name</th> <th>Age</th> <th>Email</th>
      </tr>
      <tr>
        <th>Joshua</th> <th>19</th> <th>jlh19@sfu.ca</th>
      </tr>
    </table>
    <form action="/process_form" method ="post">
    <input type="text" placeholder="Enter name">
    <input type="date">
    <input type="password">
    <input type="submit" value="SUBMIT">
    </form>
  </main>
  <footer>
    Copyright info
  </footer>
</body>
</html>